body {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.calc-body {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: white;
  border: black solid 1px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 30px;
}

.display {
  height: 60px;
  background-color: rgb(151, 209, 247);
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.button-area {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  flex: 1;
  background-color: rgb(255, 192, 203);
}

.number:hover {
  background-color: rgb(235, 172, 183);
}

.delete {
  flex: 1;
  background-color: rgb(255, 192, 203);
}

.delete:hover {
  background-color: rgb(235, 172, 183);
}

.zero {
  flex: 2;
}

.operator {
  flex: 1;
  background-color: rgb(128, 128, 128);
}

.operator:hover {
  background-color: rgb(108, 108, 108);
}

.equals {
  flex: 1;
  background-color: rgb(128, 128, 128);
}

.equals:hover {
  background-color: rgb(108, 108, 108);
}

.special {
  flex: 1;
  background-color: rgb(211, 211, 211);
}

.special:hover {
  background-color: rgb(191, 191, 191);
}


